@media screen and (max-width:1024px)
{

.achievements{
    margin:0 20px;
}
.discography{
    margin:0 20px;
}
}

/* @media screen and (max-width:680px)
{
.wrapper{
    flex-direction: column;
}
.achievements{
    justify-content: center;
    align-items: center;
}
} */

@media screen and (max-width:480px){
    .navbar{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        font-size:1.1rem;
    }
    .container::before {
        background: none;
        background-color: black;
    }
    .hidden{
        display: none;
    }
    .footer-container{
        font-size:1.1rem;
    }
    .footer-nav {
        flex-flow:column;
    }
    .heading h1{
        font-size:2.5rem;  
    }
}