*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    font-family:"Poppins",sans-serif;
    font-size:1rem;
}
/**navigation**/

.navbar{
    display:flex;
    background-color:black;
    flex-direction:row;
    width:100%;
    justify-content:center;
    text-transform: uppercase;
}
.navbar a{
    color:white;
    text-decoration:none;
    padding:1.1rem;
    font-size:1.3rem;
}
.navbar a:hover{
    border-bottom:1px solid #ccc;
}
/**************************************************/

/** heading & background **/
.main-heading{
    display:flex;
    flex-direction:column;
    text-transform: uppercase;
    line-height:0.2; 
    color:white;
    background-image:url('images/ty.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    justify-content:center;
    
}
.main-heading h1{
    font-size:4rem;  
    letter-spacing: 5px;
    padding:5px 12px;
    margin:0 50px;
}
.main-heading h4{
    font-size:1rem;
    letter-spacing: 10px;
    padding:5px 12px;
    margin:50px;
}
/*********************************************************/

/** biography**/
.bio{
    display: flex;
    flex-flow:row;
    min-height:50vh;
}
.col1{
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding:1.5rem;
    flex:0 0 70%;
}
.col1 h2{
    font-size:2.5rem;
    margin:15px 0;
    text-transform: uppercase;
}

.col2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    background-color:purple;
    padding:1.5rem;
    flex:0 0 30%;
    font-weight:bold;
    color:white;
}
.col1 p,.col2 p{
    font-size:1.2rem;
    text-indent:50px;
    text-align:justify;
    line-height:1.5;
}

.btn{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.2rem;
    text-align:center;
    padding:10px 20px;
}
.btn a{
    text-decoration: none;
    color:purple;
    font-weight:bold;
    text-align:center;
    border:2px solid purple;
    border-radius:30px;
    padding:15px;
    width:200px;
}
.btn a:hover{
    color:white;
    background-color:purple;
    transition: 2s;
}
/********************************************************/


/*************************************************************/
/** footer**/
.footer-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#333;
    padding: 20px;
    text-align: center;
    font-size:1.2rem;
    min-height:40vh;
}

.footer-nav {
    list-style: none;
    padding: 0;
    display:flex;
    flex-flow:row wrap;  
}

.footer-nav li {
    display: flex;
    margin-right: 15px;
}
.footer-nav a {
   color:white;
    text-decoration: none;
}
.footer-nav a:hover {
    border-bottom:1px solid #ccc;
}

.item3 img{
    width:40px;
    height:40px;
    border-radius:50%;
    padding:5px;
}
.item1{
    padding:15px;
    text-align:center;
    color:white;
    display:inline-flex;
    align-items:center;
}
.item1>div{
    padding-right:1em;
}
.item1 img{
    width:50px;
    height:50px;
    border-radius:50%;
    padding:5px;
}

/**media queries**/

 @media screen and (min-width:400px) and (max-width:710px){
    .navbar{
        align-items:center;
        background-color:black;
        flex-direction:column;
    }
    .navbar a:hover{
       width:100%;
       text-align:center;
    }
    .main-heading{
        background-image:none;
        background-color:black;
        height:60vh;
    }
    .main-heading h1{
        display:flex;
        justify-content:center;
        align-content:center;
        font-size:2.5em;
        letter-spacing:1px;
        padding:0.5em;
    }
    .main-heading h4{
        display:flex;
        justify-content:center;
        align-content:center;
        letter-spacing:2px;
        padding:0.5em;
    }
    .bio{
        flex-flow:column;
    }
    .col1{
        padding:3em;
    }
    .col2{
        flex-basis:60vw;
    }

    .footer-container{
        min-height:60vh;
    }
    .footer-nav {
        display:flex;
       flex-flow:column;
}
    .item2{
        display:flex;
    }
    .item1{
        display:flex;
        align-items:center;
        padding-right:1em;
    }
 }